@model Order
@{
    ViewData["Title"] = "Index";
}

<h2>Checkout!</h2>

<form method="post" asp-action="Checkout">
    <div class="form-group">
        <label for="email">Email</label>
        <input name="Email" class="form-control" type="email" placeholder="Enter your email..." />
    </div>
    <input asp-for="ID" type="hidden" />
    <input type="submit" class="btn btn-primary" value="Place Your Order" />
</form>