@model BoardGameStore.Models.Order
@{
    ViewData["Title"] = "Order " + Model.ID;
}

<h2>Order @Model.ID</h2>
<h3>You purchased:</h3>
<ul>
    @{ decimal total = 0;}
    @foreach (var item in Model.OrderItems)
    {
        <li>@item.Name : @item.Quantity</li>
        total += (item.Quantity * (item.Price ?? 0));
    }
    <li>Total: @total.ToString("c")</li>
</ul>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return Home</a>
<a class="btn btn-primary" asp-controller="Product" asp-action="Index">Continue Shopping</a>