@model Proposal
@{
    ViewData["Title"] = "Accept";
}

<h2> Congratulations @Model.Proposee!, you received @Model.ProposerItem from @Model.Proposer in exchange for @Model.ProposeeItem</h2>

<p>Please note that BoardGameHub is in no way liable for shipping these products.</p>