@{
    ViewData["Title"] = "Trade";
}

<div class="jumbotron">
    <h1 class="display-4">Let's Trade!</h1>
    <p class="lead">Grown tired of your game and ready to swap it out for another one? You've come to the right place.</p>
    <hr class="my-4">
    <p>
        Here at BoardGameHub you have the option to specify which of your games you are willing to trade,
        as well as search for games that others are willing to trade.  If you find a game you like, you can propose
        the trade and elect which game you're willing to trade for it.  <br /><br />The other person will be able to see the 
        trade pending on that particular item, and can choose whether or not to accept.    If they do accept, we'll update your inventories and the shipping is up
        to you and your fellow trader.
    </p>
    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn btn-primary btn-lg" asp-action="Inventory">View Inventory</a>
        <a class="btn btn-primary btn-lg" asp-action="Find">Find Trade</a>
    }
    else
    {
        <a class="btn btn-primary btn-lg" asp-action="Login" asp-controller="Account">Login to Trade</a>
        <a class="btn btn-primary btn-lg" asp-action="Register" asp-controller="Account">Register</a>
    }
</div>

