@{
    ViewData["Title"] = "Trade";
}

<div class="jumbotron">
    <h1 class="display-4">Let's Trade!</h1>
    <p class="lead">Grown tired of your game and ready to swap it out for another one? You've come to the right place.</p>
    <hr class="my-4">
    <p>
        Here at BoardGameHub you have the option to specify which of your games you are willing to trade,
        as well as search for games that others are willing to trade.  If there's a match, one of you can
        propose and the other accepts.<br /><br />  At that point, we'll update your inventory and the shipping is up
        to you and your fellow trader.
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-action="Inventory">View Inventory</a>
        <a class="btn btn-primary btn-lg" asp-action="Find">Find Trade</a>
    </p>
</div>

