@model InventoryItem

@{
    ViewData["Title"] = "Propose";
}

<h2>You would like to trade for the following game</h2>
<table>
    <tr>
        <td>@Model.ID</td>
        <td>@Model.Name</td>
    </tr>
</table>

<h2>Which games are you offering up for trade?</h2>


