
@{
    ViewData["Title"] = "Proposal";
}

<h2>This trade request has been sent.</h2>
<br />
<a class="btn btn-primary" asp-controller="Trade" asp-action="Inventory">View Inventory</a>
<a class="btn btn-primary" asp-controller="Trade" asp-action="Find">Find Trade</a>