/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.add-cart {
    margin-top: .5em;
}

.add-product {
    margin: auto;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.card {
    margin: 1em;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.container {
    margin: 0;
}

.inv {
    display: inline-block;
}

.jumbotron {
    margin-top: 2em;
}

.login {
    width: 25em;
    margin: auto;
}

.login-button {
    width: 25em;
    margin-top: 1em;
}

.new {
    margin-top: 2em;
}

.register {
    width: 25em;
    margin: auto;
}

.register-button {
    width: 25em;
    margin-top: 1em;
}

/* QR code generator */ 
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


